<html>
  <head>
    <title>Page commentaire</title>
  </head>
  <body>
    <h1>Laisse un commentaire !</h1>
    <p>Lache ton com via le formulaire ci-dessous</p>
    <form action='/gossips/id/com/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='author_com'/><br/>
      Ecris ton commentaire : <input type='text' name='content_com'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>